In [64]:
import pandas as pd
import itertools as it
import numpy as np

## Gerando a população

In [24]:
populacao = pd.DataFrame({'Populacao': [1, 2, 4, 5, 7, 9]})
populacao

   Populacao
0          1
1          2
2          4
3          5
4          7
5          9

## Gerando as amostras

In [90]:
lista = list(it.product(populacao['Populacao'], repeat=3))
dic = {'Q1': [], 'Q2': [], 'Q3': [], 'Media': [], 'VarianciaC': [],  'VarianciaE': []}
for i in lista:
    dic['Q1'].append(i[0])
    dic['Q2'].append(i[1])
    dic['Q3'].append(i[2])
    dic['Media'].append(np.mean(i))
    dic['VarianciaC'].append(np.var(i, ddof=1))
    dic['VarianciaE'].append(np.var(i))
amostras = pd.DataFrame(dic)

## Desenvolvimento dos testes

### Dados da população

In [105]:
data = pd.DataFrame({'Media': populacao.mean(), 'Variancia': populacao.var()*(5)/6, 
                     'Desvio padrao': populacao.std(), 'Tamanho amostra': 3})
data

              Media  Variancia  Desvio padrao  Tamanho amostra
Populacao  4.666667   7.555556       3.011091                3

## Dados das amostras

In [92]:
amostras

     Q1  Q2  Q3     Media  VarianciaC  VarianciaE
0     1   1   1  1.000000    0.000000    0.000000
1     1   1   2  1.333333    0.333333    0.222222
2     1   1   4  2.000000    3.000000    2.000000
3     1   1   5  2.333333    5.333333    3.555556
4     1   1   7  3.000000   12.000000    8.000000
..   ..  ..  ..       ...         ...         ...
211   9   9   2  6.666667   16.333333   10.888889
212   9   9   4  7.333333    8.333333    5.555556
213   9   9   5  7.666667    5.333333    3.555556
214   9   9   7  8.333333    1.333333    0.888889
215   9   9   9  9.000000    0.000000    0.000000

[216 rows x 6 columns]

### Teoria estatística média

In [101]:
TEM = pd.DataFrame({'Media': [amostras['Media'].mean()], 'Variancia Observada': [amostras['Media'].var()],
                   'Variancia Teorica': [amostras['Media'].var()]})
TEM

      Media  Variancia Observada  Variancia Teorica
0  4.666667             2.530233           2.530233

### Teoria estatística Variância

In [106]:
TEV = pd.DataFrame({'Media': list(data['Variancia']), 'Media varianciaC': [amostras['VarianciaC'].mean()],
                   'Media varianciaE': [amostras['VarianciaE'].mean()]})
TEV

      Media  Media varianciaC  Media varianciaE
0  7.555556          7.555556          5.037037